.container-big-card{
   width: 810px;
   height: 750px;
   margin-left: 20px;
   margin-right: 20px;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.big-card-img > img{
    border-radius: 20px;
    width: 840px;
    min-width: 840px;
}

.big-card-title > a {
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.big-card-description p {
    color: rgb(161, 161, 161);
    font-size: 18px;
}